/* Task state widget component
   - task value: done/total - for complex tasks
   - task 'mark as done' action

   - task due time
   - task 'done' message

   - task progress bar
*/

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex-centered() {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box .state {
  // components: main and secondary line with 3 lables (left,right,center) and line value label
  flex: 0 0 auto;
  margin-top: .5rem;
  position: relative;

  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  align-items: flex-end;

  > .main, > .secondary {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    > .left {
      margin-right: auto;
      order: -1;
    }

    > .right {
      margin-left: auto;
      order: 999;
    }

    > .center {
      margin-right: auto;
      margin-left: auto;
    }

    > .line {
      @include absolute(null, 0, null, 0);
      border-radius: 0 4px 4px 0;
    }
  }

  > .main {
    font-size: .875rem;
    line-height: 1rem;
    padding-bottom: .5rem;
    opacity: 0.8;

    > .line {
      height: .3125rem;
      bottom: 0;
      background: green;
    }
  }

  > .secondary {
    font-size: .75rem;
    line-height: .75rem;
    padding-top: .25rem;
    opacity: 0.6;

    > .line {
      height: 0.125rem;
      top: 0;
      background: yellow;
    }
  }

  .toolbar {
    flex: 0 0 auto;
    display: flex;
    margin-right: auto;
    padding: 0;

    > .button {
      @include flex-centered;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: .5rem;
      border-radius: 50%;
      font-family: 'Glyphicons Halflings';
      cursor: pointer;
      opacity: 0.5;
      transition: all .3s ease;

      &:hover {
        opacity: 1;
      }
    }

    > .button.check {
      font-size: .75rem;
      background: rgba(0,0,0,.4);
      color: rgba(0,0,0,.8);

      &:hover {
        background: rgba(0,0,0,.6);
        color: white;
      }

      &:before {
        content: "\e013";
      }
    }

    > .button.timer {
      font-size: 1.5rem;
      color: rgba(0,0,0,.6);

      &:hover {
        color: rgba(0,0,0,.8);
      }

      &:before {
        content: "\e023";
      }
    }
  }
}

/* ==================
  Task widget styles
===================== */
.task .state {
  margin: .75rem -1rem -.75rem;
  height: 2.75rem;

  .main {
    padding-right: 1rem;
    padding-left: 1rem;

    .line {
      background: transparentize(#FFA000, 0.1);
      background: transparentize(#00B5EC, 0.2);
    }
  }

  .done-value {
    font-size: 1rem;
  }
}

.state {
  .task & {
    .done-value {
      display: none;
    }

    .done-message {
      display: none;
    }

    .line {
      display: none;
    }
  }

  .task.has-child & {
    .done-value,
    .line {
      display: block;
    }

    .toolbar {
      display: none;
    }
  }

  .task.done & {
    .main .line {
      border-radius: 0 0 2px 2px;
      background: lighten(black, 70%);
    }

    .due-date {
      display: none;
    }

    .done-message {
      display: block;
    }
  }

  .task.overdue:not(.done) & {
    .line {
      background: #ED4743;
    }

    .due-date,
    .done-value {
      color: darkred;
      color: red;
    }
  }
}

/* ==================
  Goal widget styles
===================== */
.box.goal .state {
  .toolbar {
    display: none;
  }

  .value, .time {
    font-weight: 600;
  }

  .value .line {
    background: transparentize(#00B5EC, 0.2);
  }

  .time .line {
    background: transparentize(red, 0.5);
  }
}