@mixin card {
  font-family: walkway, 'Roboto', Helvetica, sans-serif;
  display: inline-flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  position: relative;

  border-radius: 2px;
  border: 2px solid transparent;
  // border-color: rgba(0,0,0,.05);
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  > .main {
    display: flex;

    .title {
      flex: 1 1 auto;
      font-size: 1rem;
      line-height: $line-height;
      min-height: 1.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-right: 1rem;
    }
  }

  > .menu {
    position: absolute;
    right: 0;
    top: 0;
    padding: .5rem;
    align-self: flex-start;
    opacity: 0.3;
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
      opacity: 1;
    }
  }

  > .secondary {
    font-size: .875rem;
    line-height: $line-height;
    white-space: nowrap;
    min-height: 1.5rem;
    opacity: 0.6;
    display: flex;
    overflow: hidden;

    > * {
      margin-right: 1rem;
      white-space: nowrap;
    }

    .value.date-from,
    .value.date-to {
      flex: 0 0 auto;
    }

    .value.date-from {
      margin-right: .5rem;

      &:after {
        content: '\2014';
        margin-left: .5rem;
      }
    }
  }

  transition: all .5s ease;

  &:hover {
    overflow: hidden;
    border-radius: 5px;
    border-color: transparentize(#008EBF, .4);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
